# Node modules (ignore everywhere)
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Editor files
.vscode/
.idea/

# Optional
uploads/